.containerDiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top:27px;
    height:677px;
    width: 1380px;
}
.wrapper{
    border-radius:15px;
    width: 500px;
    margin-bottom: 12px;
}
form{
        display: flex;
        border: 2px solid #c400c0;
        background-color: #e500ff1f;
        border-style: groove;
        padding-left: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
        border-radius: 15px;
        flex-direction: column;
        justify-content: space-evenly;
}
.buttons-container{
    display: flex;
    margin-top: 15px;
    width: 45%;
    justify-content: space-between;
}