body{

  height: 66%;
  background-image: url("bground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    margin-top: 5%;
    margin-left: 44%;
}
.name-and-search-input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-name-container{
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}
#user-name{
    margin-bottom: 0;
}
table{
    width: 100%;
}

.row-titles{
    background-color: #e500ff66;
}
ul li{
        padding: 3px 0px;
      }
.table-row{
    height: 320px;
}

.table-data{
    width:18%;
     border: 1px solid black;
}
.btn-primary{
    margin-bottom:5px;
    margin-left: 13px;
}
.ul-with-btn{
height: 300px;
overflow-y:auto;
}

.ul-without-btn{
height: 235px;
overflow-y:auto;
}

.input-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
}